.main_chat
  .group_info 
    .group_info_left
      .group_info_left_top 
        = @group.name
      .group_info_left_bottom 
        Member:
        - @group.users.each do |user|
          = user.name
    .group_info_right
      .group_info_right_btn 
        =link_to edit_group_path(@group.id) do
          Edit

  .message_contents
    = render @messages

  .message_form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message_form_text', placeholder: 'type a message'
      .message_form_image 
        = f.label :image, class: "message_form_text_image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "message_form_text_image_file"
        = f.submit 'Send', class: 'message_form_text_btn'